flipper/
github-copilot/
iterm2/
menus/
nvim.bak/
qBittorrent/
wezterm/
neofetch/
.DS_Store
nvim/lazy-lock.json
fish/
karabiner/

JetBrains/DataGrip2025.2
Thunar
cursor
dconf
evolution/sources
gh
google-chrome-for-testing/Crash Reports
htop
ibus/bus
zellij/plugins/zellij-pane-tracker.wasm
