layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode} {tabs}"
                //format_center "{tabs}"
                format_right  "{command_gpu} {command_cpu} {command_ram} {command_swap}"
                // format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[bg=#00FF00]#[fg=#00FF00,bold]█"
                mode_locked        "#[bg=#FF00FF]#[fg=#FF00FF,bold]█"
                mode_resize        "#[bg=#FF8C0D]#[fg=#FF8C0D,bold]█"
                mode_pane          "#[bg=#00E5E5]#[fg=#00E5E5,bold]█"
                mode_tab           "#[bg=#00E5E5]#[fg=#00E5E5,bold]█"
                mode_scroll        "#[bg=#FF8C0D]#[fg=#FF8C0D,bold]█"
                mode_enter_search  "#[bg=#FF8C0D]#[fg=#FF8C0D,bold]█"
                mode_search        "#[bg=#FF8C0D]#[fg=#FF8C0D,bold]█"
                mode_rename_tab    "#[bg=#FF00FF]#[fg=#FF00FF,bold]█"
                mode_rename_pane   "#[bg=#FF00FF]#[fg=#FF00FF,bold]█"
                mode_session       "#[bg=#FF00FF]#[fg=#FF00FF,bold]█"
                mode_move          "#[bg=#00E5E5]#[fg=#00E5E5,bold]█"
                mode_prompt        "#[bg=#FF00FF]#[fg=#FF00FF,bold]█"
                mode_tmux          "#[bg=#FF8C0D]#[fg=#FF8C0D,bold]█"
                tab_normal   "# {name} "
                tab_active   "#[fg=#9BC264,bold,italic] {name} "

                command_cpu_command "bash -c \"$HOME/.config/zellij/scripts/zjestatus.sh cpu\""
                command_cpu_format "#[fg=#9399B2,bg=#181825]  {stdout} "
                command_cpu_interval "2"
                command_cpu_rendermode "static"

                command_ram_command "bash -c \"$HOME/.config/zellij/scripts/zjestatus.sh ram\""
                command_ram_format "#[fg=#A6E3A1,bg=#181825]  {stdout} "
                command_ram_interval "2"
                command_ram_rendermode "static"

                command_swap_command "bash -c \"$HOME/.config/zellij/scripts/zjestatus.sh swap\""
                command_swap_format "#[fg=#FAB387,bg=#181825] 󰓡 {stdout} "
                "command_swap_format_n/a" "#[fg=#45475a,bg=#181825] 󰓡 No Swap "
                command_swap_interval "2"
                command_swap_rendermode "static"

                command_gpu_command "bash -c \"$HOME/.config/zellij/scripts/zjestatus.sh gpu\""
                command_gpu_format "#[fg=#94E2D5,bg=#181825] 󰢮 {stdout} "
                "command_gpu_format_n/a" "#[fg=#45475a,bg=#181825] 󱋸 No GPU "
                command_gpu_interval "5"
                command_gpu_rendermode "static"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"
            }
        }
        children

    }
}
